faiss-cpu==1.8.0.post1
ipython==8.27.0
ipykernel==6.29.5
langchain-community==0.3.0
langchain-core==0.3.5
langchain-text-splitters==0.3.0
langchain==0.3.0
langchainhub==0.1.21
langdetect==1.0.9
langsmith==0.1.129
rank-bm25==0.2.2
streamlit==1.38.0
tokenizers==0.19.1
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
langchain_ollama
unstructured
jq
sentence_transformers==3.1.0